@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  /* text-shadow: 0 0 10px white; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-img {
  /* background: linear-gradient(to bottom right, #ffcc00, #ff6600); */
  background-image: url(https://images.unsplash.com/photo-1515022009496-4ec97087f0cb?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}

/* linear-gradient(to bottom right, #ffcc0035, #ff66003c),  */

.background-color {
  background-color: #FFC107;
  /* background-size: cover;

  background-repeat: no-repeat; */
}

.image-container {
  max-width: 90%;
  /* Adjust the value as needed */
}